/*-- scss:defaults --*/
// Base document colors
$body-bg: #fafbfa;
$body-color: #2c302d;
$link-color: #5b8262;
$code-color: #45b05a;
$code-block-bg: #ebedeb;
$code-bg: #ebedeb;
$h2-font-size:          1.6rem !default;
$headings-font-weight:  500 !default;

/*-- scss:rules --*/
